<div class="btn-group">
  <a class="btn dropdown-toggle btn-small btn-success" data-toggle="dropdown" href="#">
    Sort by
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Newest first', root_path(mark: 'newest') %></li>
    <li><%= link_to 'Rank', root_path(mark: 'rank') %></li>
  </ul>
</div>