<div class="btn-group">
  <a class="btn dropdown-toggle btn-small btn-success" data-toggle="dropdown" href="#">
    Sort by
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to root_path(mark: 'newest') do %>
      <i class='icon-plus'></i>
      Newest First
      <% end %>
    </li>
    <li>
      <%= link_to root_path(mark: 'rank') do %>
      <i class='icon-arrow-up'></i>
      Rank
      <% end %>
    </li>
  </ul>
</div>