<div class="btn-group">
  <a class="btn dropdown-toggle btn-small btn-default" data-toggle="dropdown">
    <%= current_user.username %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to '<i class= "icon-pencil"></i> Edit Profile'.html_safe, edit_user_path(current_user) %></li>
    <li><%= link_to '<i class= "icon-user"></i> View Profile'.html_safe, user_path(current_user) %></li>
    <li><%= link_to '<i class= "icon-circle-arrow-left"></i> Logout'.html_safe, logout_path %></li>
  </ul>
</div>